@font-face {
  font-family: CooperHewitt;
  src: url('../fonts/CooperHewitt-Heavy.otf') format('opentype');
}

@font-face {
  font-family: OfficeCodePro;
  src: url('../fonts/OfficeCodePro-Regular.otf') format('opentype');
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: black;
  gap: 20px;
}

#svg-filters {
  visibility: hidden;
  position: absolute;
}

.viewport {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.canvas-wrapper {
  border: 2px solid white;

  & canvas {
    display: flex;
    filter: url('#grain');
  }
}

#toolbox {
  display: flex;
  place-items: center;
  gap: 12px;
}

#toolbox.hidden,
#start-button.hidden {
  display: none;
}

.toolbox-section {
  border: 2px solid white;
  background-color: white;
  display: flex;
  gap: 2px;

  &.disabled-during-playback[disabled='true'] {
    border: 2px solid rgb(225, 225, 225);
    background-color: rgb(225, 225, 225);
  }
}

.toolbox-button {
  /* button reset */
  border: none;
  padding: 0;
  background: none;
  /* reset over */

  background-color: white;
  color: black;

  padding: 6px 12px;
  font-size: 1em;
  line-height: 1.75;

  font-family: OfficeCodePro, monospace;
  text-transform: uppercase;

  &:hover {
    background-color: rgb(225, 225, 225);
  }
}

.toolbox-icon-button {
  /* button reset */
  border: none;
  padding: 0;
  background: none;
  /* reset over */

  background-color: black;

  display: flex;
  place-items: center;
  padding: 6px;

  &:not(&:disabled):hover {
    background-color: rgb(50, 50, 50);
  }

  &:disabled {
    & img {
      opacity: 0.5;
    }
  }

  &.active {
    background-color: white;
    color: black;

    &:disabled {
      background-color: rgb(225, 225, 225);
    }

    &:not(&:disabled):hover {
      background-color: rgb(225, 225, 225);
    }
  }

  &.destructive {
    &:not(&:disabled):hover {
      background-color: red;
    }
  }
}

.description {
  border: 2px solid white;

  padding: 10px;

  max-width: 400px;

  display: flex;
  flex-direction: column;

  color: white;
  font-family: OfficeCodePro, monospace;

  & h1 {
    margin: 0;
    font-family: CooperHewitt, sans-serif;
    text-transform: uppercase;
    font-size: 6rem;
  }

  & a,
  & a:active,
  & a:visited {
    color: white;
    text-decoration: underline;
  }
}

.checkbox {
  display: inline-flex;
  align-items: center;

  & input {
    margin-right: 1ch;
  }
}
