body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: black;
}

canvas {
  display: flex;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
